<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit This Article", edit_article_path(@article) %></li>
  <li><%= link_to "Delete This Article?", article_path(@article),
  method: :delete,
  data: { confirm: "Are you sure? "}%></li>
</ul>

<h2>Comments</h2>

<% @article.comments.each do |comment| %>
  <%= render @article.comments %>
<% end %>

<h2>Add A Comment Here:</h2>
  <%= render "comments/form" %>
